<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Burası her sayfada olacak...</h1>
    <div>
        @RenderBody()  <!--sabit olan seyle burda yer alcak-->
    </div>
</body>
</html>
